//! Color

$green: #6CAC3D;
$blue-1: #2D4872;
$blue-2: #234875;
$gray: #C4C4C4;
$black: #171616;
$smoky: #F2F2F2;




//* Fonts Size
$default-size: 1.6rem;
$heading-1: 4.2rem;
$heading-2: 1.8rem;
$heading-3: 1.4rem;
