*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #171616;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #171616;
}

.btn-white {
  border: 1px solid #6CAC3D;
  border-radius: 0.3rem;
  color: #6CAC3D;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: transparent;
  padding: 1.3rem 2.3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-white:hover {
  background-color: #6CAC3D;
  color: #F2F2F2;
  box-shadow: 0 1rem 2rem rgba(23, 22, 22, 0.2);
}
.btn-white:active, .btn-white:focus {
  transform: scale(1.05);
}

.btn-green {
  border: 1px solid #6CAC3D;
  border-radius: 0.4rem;
  padding: 1.3rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #6CAC3D;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-green:hover {
  box-shadow: 0 1rem 2rem rgba(23, 22, 22, 0.2);
}
.btn-green:active, .btn-green:focus {
  transform: scale(1.05);
}

.header .nav {
  margin: 0 12rem;
  padding: 2.3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .icon {
  font-size: 2.8rem;
  font-family: "Saira Stencil One", sans-serif;
}
.header .nav .icon span:first-child {
  color: #2D4872;
}
.header .nav .icon span:last-child {
  color: #6CAC3D;
}
.header .nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  list-style-type: none;
}
.header .nav__list--items__link {
  color: #171616;
  display: block;
  transition: all 0.2s;
}
.header .nav__list--items__link:hover {
  color: #6CAC3D;
  transform: translateY(-0.2rem);
}
.header .nav__list--items__link:active {
  transform: translateY(0.2rem);
}
.header .nav__contact {
  display: flex;
  flex-direction: column;
}
.header .nav__contact--number {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .nav__contact--number .contact-icon {
  width: 1.6rem;
  height: 1.6rem;
}
.header .nav__contact--number .contact--number__link {
  font-weight: 700;
  color: #171616;
  font-size: 1.8rem;
  border: 1px solid transparent;
  transition: all 0.2s;
}
.header .nav__contact--number .contact--number__link:hover {
  border-color: #6CAC3D;
  border-radius: 3px;
  background-color: #6CAC3D;
  color: #F2F2F2;
  box-shadow: 0 1rem 2rem rgba(23, 22, 22, 0.2);
}
.header .nav__contact--number .contact--number__link:active {
  transform: translateY(0.2rem);
}
.header .nav__contact--days {
  font-weight: 400;
  font-size: 1.4rem;
}
.header .menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  align-items: center;
  margin: 0 12rem;
  border-top: 1px solid #6CAC3D;
  border-bottom: 1px solid #6CAC3D;
}
.header .menu-items {
  text-align: center;
  padding: 1.3rem 2.3rem;
  list-style-type: none;
  position: relative;
  transition: all 0.2s;
}
.header .menu-items > a {
  color: #171616;
  font-weight: 500;
}
.header .menu-items:hover {
  background-color: #6CAC3D;
}
.header .menu-items .dropdown {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 5.4rem;
  left: 0;
  display: none;
  box-shadow: rgba(190, 190, 190, 0.25) 0 0 10px;
  background-color: #FFFFFF;
  transition: all 0.2s;
  z-index: 100;
}
.header .menu-items .dropdown li {
  list-style-type: none;
  padding: 1.3rem 2.3rem;
  margin: 1.3rem 2.3rem;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: left;
}
.header .menu-items .dropdown li > a {
  color: #171616;
}
.header .menu-items .dropdown li:hover {
  border-color: #6CAC3D;
}
.header .menu .apart-renov:hover > .dropdown, .header .menu .intr-design:hover > .dropdown, .header .menu .room-renov:hover > .dropdown {
  display: block;
  opacity: 1;
}

.hero-section {
  margin-top: 3.3rem;
  padding: 0 12rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url("/assets/image/hero-cover.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 68%;
}

.hero__left {
  width: 60%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}
.hero__left .hero__heading {
  font-size: 6rem;
  font-weight: 700;
  color: #171616;
  margin-bottom: 3rem;
}
.hero__left .hero__cost {
  font-size: 4.4rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 6.4rem;
}
.hero__left .hero__cost .hero-cost {
  font-size: 6rem;
  border-radius: 1rem;
  padding: 0 0.5rem;
}
.hero__left .hero__services {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  row-gap: 2rem;
}
.hero__left .hero__services .service-text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #171616;
  margin-top: 0.8rem;
}

.hero__right {
  background-color: #FFFFFF;
  border-radius: 0.7rem;
  padding-bottom: 2.8rem;
}
.hero__right .hero__right--title {
  font-size: 2rem;
  font-weight: 900;
  color: #171616;
  text-transform: uppercase;
  padding: 3.8rem 2.4rem 1.8rem 5.3rem;
}
.hero__right .type-container, .hero__right .area, .hero__right .repair-info, .hero__right .customer-order {
  padding-left: 5.3rem;
}
.hero__right h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #595959;
  padding-bottom: 1.8rem;
}
.hero__right input[type=radio] {
  transform: scale(1.4);
}
.hero__right .type-container > * {
  border-bottom: 3px solid #D6D6D6;
  padding: 1.8rem 0;
}
.hero__right .type-container .type-repair .input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero__right .type-container .type-property .input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero__right .type-container .number-rooms .input-container {
  display: flex;
  gap: 2rem;
}
.hero__right .type-container .input-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero__right .type-container .input-items label {
  color: #595959;
  font-size: 1.4rem;
  font-weight: 400;
}
.hero__right .type-container .input-items input:checked + label {
  color: #2D4872;
}
.hero__right .area {
  padding-bottom: 2.4rem;
  padding-top: 1.8rem;
}
.hero__right .area .input-items {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.hero__right .area .input-items input {
  flex-basis: 80%;
}
.hero__right .area .input-items span.area-value {
  color: #595959;
  font-size: 1.4rem;
  font-weight: 400;
}
.hero__right .repair-info {
  background-color: #F2F2F2;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #2D4872;
}
.hero__right .repair-info h4 {
  font-size: 1.6rem;
  font-weight: 400;
}
.hero__right .repair-info p {
  font-weight: 700;
  font-size: 1.8rem;
}
.hero__right .customer-order {
  padding-top: 1.8rem;
}
.hero__right .customer-order .input-items {
  display: flex;
  gap: 1.5rem;
}
.hero__right .customer-order .input-items input {
  outline: none;
  padding: 1rem;
  font-size: 1.4rem;
  border: 1px solid #CCCCCC;
}
.hero__right .customer-order .input-items .hero__right--btn {
  padding: 1.3rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.repair-price {
  padding: 7rem 12rem;
}
.repair-price__title {
  text-align: center;
  margin-bottom: 4.8rem;
  color: #171616;
  font-size: 4.2rem;
}
.repair-price img {
  width: 20px;
  height: 20px;
}
.repair-price .price-container {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1rem;
  align-items: start;
}
.repair-price .price-cards {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(147, 147, 147, 0.2509803922);
  border-radius: 1.6rem;
}
.repair-price .card-heading {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: #E3EAEF;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  padding: 1.5rem 2.5rem;
}
.repair-price .card-heading__img {
  width: 5.7rem;
  height: 5.7rem;
  border-radius: 50rem;
}
.repair-price .card-heading__img img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.repair-price .card-heading__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.repair-price .card-heading__text--title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #6CAC3D;
}
.repair-price .card-heading__text--day {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: lowercase;
  color: #171616;
}
.repair-price .card-text {
  font-size: 1.4rem;
  font-weight: 300;
  align-content: flex-start;
  padding: 1rem 2.5rem;
  height: 13rem;
  border-bottom: 2px solid #2D4872;
}
.repair-price .card-title {
  padding: 1.5rem 2.5rem 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.repair-price .card-list {
  padding: 0 2.5rem;
  list-style: none;
}
.repair-price .card-list__items {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.repair-price .disable-item, .repair-price .disable-title {
  color: #C4C4C4;
}
.repair-price .extra {
  max-height: 20px;
  overflow: hidden;
}
.repair-price .extra-list {
  max-height: 0;
  overflow: hidden;
}
.repair-price .price-cards.open .extra, .repair-price .price-cards.open .extra-list {
  max-height: 200px;
}
.repair-price .price-cards.open .disable-item,
.repair-price .price-cards.open .disable-title {
  color: #171616;
}
.repair-price .card-cost {
  padding: 2.4rem 3rem;
}
.repair-price .card-cost .toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0 auto;
  cursor: pointer;
  padding: 0 0 1rem;
}
.repair-price .card-cost .toggle span {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2D4872;
}
.repair-price .card-cost .toggle img {
  width: 1.2rem;
  height: 1.2rem;
}
.repair-price .card-cost .old-cost {
  font-size: 1.4rem;
  font-weight: 400;
  color: #171616;
  text-decoration: line-through;
  margin-right: 0.6rem;
}
.repair-price .card-cost .old-cost span {
  font-weight: 700;
}
.repair-price .card-cost .current-cost {
  font-size: 1.6rem;
  font-weight: 700;
  color: #6CAC3D;
}
.repair-price .card-cost .current-cost span {
  font-size: 1.8rem;
}
.repair-price .card-btn {
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */