@use '../abstracts/vairables' as *;
@use '../abstracts/mixins' as *;

.examples{
    background-color: #F8F8F8;



    //*Examples Heading
    &__heading{
        padding: 5rem 7rem;
        &--title{
            margin-bottom: 7rem;
        }

        .examples-nav{
            padding: 2rem;

            &__list{
               @include grid($columns: repeat(auto-fit, minmax(23rem, 1fr)), $gap:2rem);

                &--items{
                    padding: 1.5rem 0;
                    border-radius: .4rem;
                    background-color: #E6E6E6;
                    text-align: center;
                    cursor: pointer;
                    transition: all .1s;
                }
                &--items a{
                    color: #595959;
                    font-size: $default-size;
                    font-weight: 700;
                }

                &--items:hover{
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                    transform:translateY(-0.5rem);
                }
            }

            .examples-nav__list--items.active {
                background-color: $blue-1;
            }
            .examples-nav__list--items.active a{
                color: $white;
            }

            &__options{
                width: 85%;
                margin: 2.5rem auto;
                @include grid($columns: repeat(auto-fit, minmax(7rem, 12rem)), $gap:2rem);
                justify-content: center;
                gap: 1rem;

                .options-items{

                    label{
                        margin-left: .7rem;
                    }
                }
                
            }
        }
    }

    //*container
    &__container{
        position: relative;
        padding: 0 7rem;
        margin: 0 2.5rem;

        .arrow-left, .arrow-right{
            width: 5.5rem;
            height: 5.5rem;
            padding: 1.5rem;
            position: absolute;
            transform: translateY(-50%);
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .arrow-left{
            top: 50%;
            left: 0;
        }
        .arrow-right{
            top: 50%;
            right: 0;
        }



        &--content{
            @include flex();
            gap: 2rem;

            .content__slide-column{
                width: max-content;
                @include flex($direction: column, $align: center, $gap: .6rem);
                .slide-column--img{
                    max-width: 8.2rem;
                    max-height: 5.8rem;
                    width: 8rem;
                    height: 5.8rem;
                    border: 2px solid darkslategray;
                    border-radius: 2px;
                    opacity: 0.5;
                    cursor: pointer;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .content__slide-row{

                .slide-row-card{
                    @include grid($columns: 3fr 1fr, $gap: 5rem);
                    box-shadow: 0 4px 10px #DFDFDF;

                    .slide-row--img{
                        width: 100%;
                        height: 500px;
                        img{
                            width: inherit;
                            height: inherit;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 1rem;
                        }
                    }

                    .slide-row--info{
                        width: 100%;
                        padding: 5rem 0;

                        .info-room{
                            @include grid($columns: 2fr 1fr);

                            &--list{
                                @include flex($align: center, $gap: .7rem);

                                span{
                                    color: #595959;
                                    font-weight: 400;
                                }
                            }

                            &--value{
                                font-weight: 700;
                            }
                        }
                        .room-details{
                            padding: 0 3rem;
                            li{
                                list-style-type: disc;
                                font-size: $heading-3;
                                font-weight: 400;
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }



    //*button
    &__btn{
        max-width: max-content;
        margin: 3rem auto;
    }
}