@use '../abstracts/vairables' as *;
@use '../abstracts/mixins' as *;



.header{

    .nav{
        margin: 0 12rem;
        padding: 2.3rem 0;
        @include flex($align: center, $justify: space-between);
        .icon{
            font-size: 2.8rem;
            font-family: "Saira Stencil One", sans-serif;
            & span:first-child{
                color: $blue-1;
            }
            & span:last-child{
                color: $green;
            }
        }

        &__list{
            @include flex($align: center, $justify: space-between, $gap: 2.4rem);
            list-style-type: none;
            
            &--items{
                &__link{
                    color: $black;
                    display: block;
                    transition: all .2s;

                    &:hover{
                        color: $green;
                        transform: translateY(-.2rem);
                    }
                    &:active{
                        transform: translateY(.2rem);
                    }
                }

            }
        }

        &__contact{
            @include flex($direction: column);
            &--number{
                @include flex($align: center, $gap: .5rem);
                .contact-icon{
                    width: 1.6rem;
                    height: 1.6rem;
                }
                .contact--number__link{
                    font-weight: 700;
                    color: $black;
                    font-size: $heading-2;
                    border: 1px solid transparent;
                    transition: all .2s;

                    &:hover{
                        border-color: $green;
                        border-radius: 3px;
                        background-color: $green;
                        color: $smoky;
                        box-shadow: 0 1rem 2rem rgb($black, .2);
                    }

                    &:active{
                        transform: translateY(.2rem);
                    }
                }
            }

            &--days{
                font-weight: 400;
                font-size: $heading-3;
            }
        }
    }

    .menu{
        @include grid ($columns: repeat(5, 1fr), $gap: 2rem);
        align-items: center;
        margin: 0 12rem;
        border-top: 1px solid $green;
        border-bottom: 1px solid $green;
        &-items{
            text-align: center;
            padding: 1.3rem 2.3rem;
            list-style-type: none;
            position: relative;

            transition: all .2s;
            &>a{
                color: $black;
                font-weight: 500;
            }

            &:hover{
                background-color: $green;
            }

            .dropdown{
                width: 100%;
                opacity: 0;

                @include absolute($top: 5.4rem, $left: 0);
                display: none;
                box-shadow: rgba(190, 190, 190, 0.25) 0 0 10px;
                background-color: $white;
                transition: all .2s;
                z-index: 100;
                li{
                    list-style-type: none;
                    padding: 1.3rem 2.3rem;
                    margin: 1.3rem 2.3rem;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    text-align: left;
                    &>a{
                        color: $black;
                    }

                    &:hover{
                        border-color: $green;
                    }
                }
            }
        }

        .apart-renov:hover, .intr-design:hover, .room-renov:hover{
            &>.dropdown{
                display: block;
                opacity: 1;
            }
        }

    }


}