@use '../abstracts/vairables' as *;
@use '../abstracts/mixins' as *;



.header{
    .nav{
        margin: 0 12rem;
        padding: 2.3rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $green;

        .icon{
            font-size: 2.8rem;
            font-family: "Saira Stencil One", sans-serif;
            & span:first-child{
                color: $blue-1;
            }
            & span:last-child{
                color: $green;
            }
        }

        &__list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2.4rem;
            list-style-type: none;
            
            &--items{
                &__link{
                    color: $black;
                }
                &:hover a{
                    color: $blue-2;
                }
            }
        }

        &__contact{
            display: flex;
            flex-direction: column;
            &--number{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                .contact-icon{
                    width: 1.6rem;
                    height: 1.6rem;
                }
                .contact--number__link{
                    font-weight: 700;
                    color: $black;
                    font-size: $heading-2;
                    border: 1px solid transparent;
                    transition: all .2s;
                }
                &:hover .contact--number__link{
                    border-color: $green;
                    border-radius: 3px;
                    background-color: $green;
                    color: $smoky;
                }
            }

            &--days{
                font-weight: 400;
                font-size: $heading-3;
            }
        }
    }
}